<H3>Api Calculator</H3>
<input class="addCalculator" type="submit" value="Add Calculator">
<div class="calculatorsBody"></div>
<div id="templates" style="visibility: hidden">
<div class="calculator">
  Enter Command:
  <input type="text" class="command"/>
  <input type="button" class="submit" value="Submit"/>
  <H5>Result : </H5>
<div class="result"></div>
</div>


</div>
